@model IEnumerable<SuperShraga.Models.Branch>
@using Microsoft.AspNetCore.Identity

@inject UserManager<SuperShraga.Models.Identity.ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@section HeadScripts {
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=ApfQpDGXWwUcOYyTk98p-3rtFtqeT9Vl4BHCg6UkjwydByJNviRfCf8nzJHV0wKW&callback=getMap' async defer></script>
}

<div id="map" style="height: 400px; width: 100%; background-color: grey;"></div>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenHours)
            </th>
            <th>
                Temperature
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var branch in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => branch.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => branch.OpenHours)
                </td>
                <td id="@(branch.Id)-temp"></td>

                <td>

                    <a asp-action="Details" asp-route-id="@branch.Id">Details</a> 

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@branch.Id"> Edit</a>

                        <a asp-action="Delete" asp-route-id="@branch.Id"> Delete</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function getTempByCoords(lat, long, targetId) {
            $.ajax({
                url: "http://api.openweathermap.org/data/2.5/weather?lat=" + lat + "&lon=" + long + "&APPID=b7aaa3a349294d5706002e82df3de1ea&units=metric",
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    $("#" + targetId).append(data.main.temp + "&deg;C");
                }
            });
        }

        $(document).ready(() => {
            let branches = @Html.Raw(Json.Serialize(Model));

            for (let branch of branches) {
                getTempByCoords(branch.latitude, branch.longitude, `${branch.id}-temp`);
            }
        });


    </script>
    <script>
    let pinInfobox;
    function getMap() {
        let map = new Microsoft.Maps.Map($('#map')[0], {});

        let branches = @Html.Raw(Json.Serialize(Model));

        //if (branches.length === 0) return;

        let icon = 'http://icons.iconarchive.com/icons/icons-land/vista-map-markers/24/Map-Marker-Marker-Outside-Chartreuse-icon.png';

        let pushpinInfos = branches.map(branch => {
            return {
                lat: branch.latitude,
                lng: branch.longitude,
                title: branch.address,
                description: branch.openHours,
                icon
            };
        });

        console.log(branches);

        //console.log(pushpinInfos);
        //let pushpinInfos = [];
        //pushpinInfos[0] = { 'lat': 31.970118, 'lng': 34.771555, 'title': 'Wow', 'description': 'Braka Miladinovi 178, 1200 Tetove, Tetovo, Macedonia', icon };
        //pushpinInfos[0] = { 'lat': 42.0076215, 'lng': 20.9689308, 'title': 'Wow', 'description': 'Braka Miladinovi 178, 1200 Tetove, Tetovo, Macedonia', icon };
        //pushpinInfos[1] = { 'lat': 41.799645, 'lng': 20.913514, 'title': 'very impressive Yarin', 'description': 'Kipper Gostivar', icon };
        //pushpinInfos[2] = { 'lat': 41.82328, 'lng': 20.962231, 'title': 'Good job!', 'description': 'Kipper Gostivar', icon };
        //pushpinInfos[3] = { 'lat': 41.80584, 'lng': 21.15498, 'title': 'Salmon Market', 'description': '<a href="http://www.google.com">Kipper</a> Gostivar', icon };
        //pushpinInfos[4] = { 'lat': 42.000900, 'lng': 21.466440, 'title': 'Market', 'description': 'Gostivar', icon };

        let infoboxLayer = new Microsoft.Maps.EntityCollection();
        let pinLayer = new Microsoft.Maps.EntityCollection();

        pinInfobox = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(0, 0), { visible: false });
        infoboxLayer.push(pinInfobox);
        let locs = [];

        for (let i = 0; i < pushpinInfos.length; i++) {
            locs[i] = new Microsoft.Maps.Location(pushpinInfos[i].lat, pushpinInfos[i].lng);
            let pin = new Microsoft.Maps.Pushpin(locs[i], { icon: pushpinInfos[i].icon, width: '20px', height: '20px' });
            pin.Title = pushpinInfos[i].title;
            pin.Description = pushpinInfos[i].description;
            pinLayer.push(pin);
            Microsoft.Maps.Events.addHandler(pin, 'click', displayInfobox);
        }

        map.entities.push(pinLayer);
        //map.entities.push(infoboxLayer); // Deprecated
        pinInfobox.setMap(map);
        let bestview = Microsoft.Maps.LocationRect.fromLocations(locs);
        map.setView({ center: bestview.center, zoom: 10 });
    }

    function displayInfobox(e) {
        pinInfobox.setOptions({ title: e.target.Title, description: e.target.Description, visible: true, offset: new Microsoft.Maps.Point(0, 25) });
        pinInfobox.setLocation(e.target.getLocation());
    }

    function hideInfobox(e) {
        pinInfobox.setOptions({ visible: false });
    }
    </script>

}