@model SuperShraga.Models.Item[]

@{
    ViewData["Title"] = "Suggested Items";

}

<ul>

    @if (Model.Length == 0)
    {
        <h2>No results found </h2>}
    else
    {
        <h2>People that bought this item also bought </h2>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Name, "Details", "Store", new { id = item.Id })
            </li>
           
        }
    }
</ul>

