﻿@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Product Sans';
    font-weight: 500;
}

nav {
    position: sticky;
}

.navbar {
    margin: 0;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.itemPicture {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

#searchButton {
    background: url(../images/searchInput.png);
    display: inline-block;
    /*position: absolute;*/
    right: 2px;
    top: 2px;
    height: 32px;
    width: 35px;
    text-align: center;
    font-size: 16px;
    z-index: 100;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.centered-row {
    display: flex;
    align-items: center;
}

.content {
    /*flex-grow: 1;*/
    flex: 1 1;
    display: grid;
    grid-template-areas: "container container aside"
                         "container container aside"
                         "footer     footer  footer";
    grid-template-columns: 1fr 1fr 300px;
    grid-template-rows: 1fr 1fr auto;
}

footer {
    grid-area: footer;
    color: gray;
    background-color: #EEEEEE;
}

aside {
    grid-area: aside;
    overflow-y: auto;
}

.container {
    grid-area: container;
    overflow-y: auto;
}

/* Styles for d3 charts*/
svg {
    font-family: Sans-Serif, Arial;
}

.line {
    stroke-width: 2;
    fill: none;
}

.axis path {
    stroke: black;
}

.text {
    font-size: 12px;
}

.title-text {
    font-size: 12px;
}

.navbar__right-section {
    display: flex;
    align-items: center;
}

.navbar__middle-section {
    display: flex;
}

#clock {
    height: 50px;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    background-color: #F7F7F7;
}

.tiles-columns-container {
    column-count: 3;
    padding-bottom: 10px;
    width: 80%;
    background-color: #F7F7F7;
}

.column-item {
    break-inside: avoid-column;
    display: inline-block;
}

.tile {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
                0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    margin: 8px;
    min-height: 100px;
    min-width: 100px;
    padding: 5px;
    border-radius: 4px;
    background-color: white;
}

.centerize-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cool-fade {
    opacity: 0;
    transform: scale(0.75, 0.5625);
    transition: opacity 241ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 161ms cubic-bezier(0.4, 0, 0.2, 1) 80ms;
}

.browse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 100%;
}

.gaming-text {
    text-shadow: 0 0 1px #E91E63;
    color: black;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

    .fly-in-text li {
        display: inline-block;
        margin-right: 50px;
        font-family: Open Sans, Arial;
        font-weight: 300;
        font-size: 4em;
        color: black;
        opacity: 1;
        transition: all 2.5s ease;
    }

        .fly-in-text li:last-child {
            margin-right: 0;
        }

    .fly-in-text.work li {
        opacity: 0;
    }

        .fly-in-text.work li:nth-child(1) {
            transform: translateX(-200px) translateY(-200px);
        }

        .fly-in-text.work li:nth-child(2) {
            transform: translateX(20px) translateY(100px);
        }

        .fly-in-text.work li:nth-child(3) {
            transform: translateX(-150px) translateY(-80px);
        }

        .fly-in-text.work li:nth-child(4) {
            transform: translateX(10px) translateY(-200px);
        }

        .fly-in-text.work li:nth-child(5) {
            transform: translateX(-300px) translateY(200px);
        }

        .fly-in-text.work li:nth-child(6) {
            transform: translateX(20px) translateY(-20px);
        }

        .fly-in-text.work li:nth-child(7) {
            transform: translateX(30px) translateY(200px);
        }

