﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SuperShraga.Models.Identity.LoginViewModel

<form class="form-horizontal" asp-controller="Account" asp-action="Login" method="post">
    <h4>Login</h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" value="admin@admin.com">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input asp-for="Password" class="form-control" value="Aa123456!">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </div>
</form>
