﻿@model IEnumerable<SuperShraga.Models.Item>

@{
    ViewBag.Title = "AdvancedSearchResult";
}

<h2>Search Results:</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Name, "Details", new { id = item.Id })
        </li>
    }
</ul>
