@model SuperShraga.Models.ItemSearchViewModel

@{
    ViewData["Title"] = "AdvancedSearch";
}

<h2>Advanced Search</h2>

<form asp-action="AdvancedSearch">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SearchName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SearchName" class="form-control" name="SearchName" placeholder="Title..." autocomplete="off"/>
                <span asp-validation-for="SearchName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PriceMin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PriceMin" class="form-control" placeholder="" autocomplete="off"/>
                <span asp-validation-for="PriceMin" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PriceMax" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PriceMax" class="form-control" placeholder="" autocomplete="off" />
                <span asp-validation-for="PriceMax" class="text-danger"></span>
            </div>
        </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
