﻿@model SuperShraga.Models.Category

@{
    ViewBag.Title = "Browse";
}
<div class="browse-container">
    <header>
        <h2>Browsing Category: <div class="gaming-text" style="display: inline;">@Model.Name</div></h2>
    </header>
    <div class="tiles-columns-container">
        @foreach (var item in Model.Items)
        {
            <div class="cool-fade tile column-item">
                <a class="item-display" href="@Url.Action("Details", new { id = item.Id })">
                    <img alt="@Model.Name" src="~/Content/ItemsImages/@item.ItemArtUrl" class="itemPicture" style="height: 80%;" />
                    <p>@item.Name</p>
                    @*@Html.ActionLink(category.Name, "Browse", new { id = category.CategoryId })*@
                </a>
            </div>
        }
    </div>
</div>