﻿@model SuperShraga.Models.Item
@using Microsoft.AspNetCore.Identity

@inject SignInManager<SuperShraga.Models.Identity.ApplicationUser> SignInManager

@{
    ViewBag.Title = "Item - " + Model.Name;
}
<h2>@Model.Name</h2>
<p>
    <img alt="@Model.Name" src="~/Content/ItemsImages/@Model.ItemArtUrl" class="itemPicture" />
</p>
<div id="item-details">
    <p>
        <em>Category:</em>
        @Model.Category.Name
    </p>
    <p>
        <em>Price:</em>
        @String.Format("{0:F}",
Model.Price)
    </p>
    <p>
        <em>Video:</em>
        @Html.Raw(Model.YoutubeVideoUrl)
    </p>
    <p class="button1">
        @if (SignInManager.IsSignedIn(User))
        {
            @Html.ActionLink("Add to cart", "AddToCart",
                 "ShoppingCart", new { id = Model.Id }, "")
        }
        else
        {
            @Html.ActionLink("Add to cart (Login first)", "Login",
                "Account", new { id = Model.Id }, "")

        }
    </p>
    <p class="button1">

        @Html.ActionLink("Something else you might like", "Index", "Suggestions"
        , new { id = Model.Id }, "")
    </p>
    <div class="fb-comments" data-width="230" data-numposts="5"></div>
</div>