﻿@model IEnumerable<SuperShraga.Models.Category>

@{
    ViewBag.Title = "Store";
}

<div class="browse-container">
    <header class="gaming-shadow">
        <h2>Browse Category</h2>
        <p>
            Select from @Model.Count() categories:
        </p>
    </header>
    <div class="tiles-container">
        @foreach (var category in Model)
        {
        <a href="@Url.Action("Browse", new { id = category.CategoryId })">
            <div class="cool-fade tile centerize-content">

                <h4 class="gaming-text">@category.Name</h4>
                @*@Html.ActionLink(category.Name, "Browse", new { id = category.CategoryId })*@
            </div>
        </a>
        }
    </div>
</div>