﻿@model IEnumerable<SuperShraga.Models.Item>

@{
    ViewBag.Title = "Search results:";
}

<h2>Search results:</h2>
<ul>
    @foreach (var item in Model)
    {
    <li>
        @Html.ActionLink(item.Name, "Details", new { id = item.Id })
    </li>
    }
</ul>
