﻿@{
    ViewData["Title"] = "Home Page";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<link href="~/css/StyleSheet.css" rel="stylesheet" />

<body>
    <ul class="fly-in-text work">
        <li>W</li>
        <li>E</li>
        <li>L</li>
        <li>C</li>
        <li>O</li>
        <li>M</li>
        <li>E</li>
    </ul>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">

        $(function () {

            setTimeout(function () {
                $('.fly-in-text').removeClass('work');
            }, 500);

        })();

    </script>
</body>
</html>

