﻿@model SuperShraga.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemArtUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemArtUrl)
        </dd>

        <dt>
            Item picture:
        </dt>

        <dd>
            <img alt="@Model.Name" src="~/Content/ItemsImages/@Model.ItemArtUrl" class="itemPicture" />
        </dd>
        <dt>
            Video
        </dt>
        <dd>
                @Html.Raw(Model.YoutubeVideoUrl)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
