﻿@model SuperShraga.Models.Item

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form asp-action="Edit" enctype="multipart/form-data">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Item</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ItemArtUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <img alt="@Model.Name" src="~/Content/ItemsImages/@Model.ItemArtUrl" class="itemPicture" />
                <input type="hidden" asp-for="ItemArtUrl" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file" name="ItemArtFile" />
                <span asp-validation-for="ItemArtUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="YoutubeVideoUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" name="YoutubeVideoUrl" />
                <span asp-validation-for="YoutubeVideoUrl" class="text-danger"></span>
            </div>
        </div>
        <div>
            @Html.Raw(Model.YoutubeVideoUrl)
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
    </form>
    

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@
