﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<SuperShraga.Models.Identity.ApplicationUser> SignInManager
@inject UserManager<SuperShraga.Models.Identity.ApplicationUser> UserManager


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>SuperShraga - @ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("HeadScripts", false)

</head> 
<body>
    <div style="display: flex; flex-direction: column; height: 100%;">
        <nav class="navbar navbar-inverse centered-row" style="padding: 5px;">
            <div class="logo centered-row">
                <img href="@Url.Action("Index", "Home")" src="~/images/supershraga.png" style="width:40px; height:40px; margin: 0 10px;" />
                <a class="navbar-brand" style="float: none;" href="@Url.Action("Index", "Home")">SuperShraga</a>
            </div>
            <div style="width: 100%; display: flex; justify-content: space-between">
                <div class="nav-buttons">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index", "Store")">Store</a></li>
                        <li><a href="@Url.Action("Index", "Branches")">Branches</a></li>

                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li><a href="@Url.Action("Index", "StoreManager")">Manage Store</a></li>
                            <li><a href="@Url.Action("UserManagement", "StoreManager")">Manage Users</a></li>
                            <li><a href="@Url.Action("Index", "Insights")">Business Insights</a></li>
                            <li><a href="@Url.Action("Search", "Order")">Orders Search</a></li>


                            <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>

                        }
                        else if ((SignInManager.IsSignedIn(User) && User.IsInRole("Member")))
                        {
                            <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                            <li><a href="@Url.Action("Register", "Account")">Sign Up</a></li>
                        }
                    </ul>
                </div>
                <div class="navbar__middle-section">
                    <div style="height: 20px; align-self: center; overflow-y: hidden;">
                        <canvas id="clock"></canvas>
                    </div>
                    <div class="search">
                        <form action="@Url.Action("Search", "Store")">
                            <span class="centered-row">
                                <input id="search" type="text" class="searchInput" name="searchTerm" required="required" placeholder="Search..." autocomplete="off">
                                <button id="searchButton" class="icon" type="submit" style="height: 26.2px;"></button>
                            </span>
                        </form>
                        <a href="@Url.Action("AdvancedSearch", "Store")" style="color: #9d9d9d;">Advanced Search</a>
                    </div>
                </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="navbar__right-section">
                    
                    <a href="@Url.Action("Index", "UserProfile")" style="color: #9d9d9d;">@UserManager.GetEmailAsync(UserManager.GetUserAsync(User).Result).Result</a>
                    <a href="@Url.Action("Index", "ShoppingCart")"><img src="~/images/cart.png" style="height: 40px;" /></a>
             
                </div>
            }
            </div>
        </nav>

        <div class="content">
            <segment class="container" style="width:100%; padding-top:30px;">
                @RenderBody()
            </segment>
            <aside>
                <a class="twitter-timeline" href="https://twitter.com/shraga19?ref_src=twsrc%5Etfw">Tweets by SuperShraga</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </aside>
            <footer style="text-align: center;">
                This site and all of it's content is the property of BenShai&trade;, Offek Marelly and Yarin Maguleanu. All rights reserved 2018-2018 &copy;
            </footer>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script name="clock script">
        var canvas = $("#clock");
        var c = canvas[0].getContext('2d');

        function drawClock() {
            // clear the background
            c.fillStyle = '#222';
            //c.fillRect(0, 0, canvas.width(), canvas.height());
            c.fillRect(0, 0, 1000, 1000);

            // Get the current time
            var now = new Date(),
                h = now.getHours(),
                m = now.getMinutes(),
                s = now.getSeconds();

            // Make values like '5' into '05'
            h = addLeadingZeroWhenNecessary(h);
            m = addLeadingZeroWhenNecessary(m);
            s = addLeadingZeroWhenNecessary(s);

            // Assemble the text
            var clockText = h + ':' + m + ':' + s,
                x = 10,
                y = 50;

            // This green color was picked
            // using http://jscolor.com/
            c.fillStyle = '#9d9d9d';

            // Draw the text
            c.font = '50pt Arial';
            c.strokeStyle = '#9d9d9d';
            c.fillText(clockText, x, y);
            c.strokeText(clockText, x, y);
        }

        function addLeadingZeroWhenNecessary(s) {
            return (s < 10 ? '0' : '') + s;
        }

        // Draw the clock right away
        drawClock();

        // Then draw the clock every subsequent second
        setInterval(drawClock, 1000);
    </script>

    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        (async () => {
            await sleep(200);

            for (let elm of $('.cool-fade')) {
                elm.style.opacity = 1;
                elm.style.transform = 'scale(1, 1)';
                await sleep(100);
            }
        })();
    </script>

    @RenderSection("Scripts", false)

</body>
</html>
