﻿@model SuperShraga.Models.UserProfileViewModel

<form class="form-horizontal" asp-controller="Account" asp-action="ResetPassword" method="post">
    <h4>Reset Password:</h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-sm-2 control-label">Confirm Password</label>
        <div class="col-sm-10">
            <input asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Reset Password</button>
        </div>
    </div>
</form>
<table class="table">
    <h2>My Order History:</h2>
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Order Date
        </th>
        <th>
            Order Total
        </th>
        <th></th>
    </tr>

    @foreach (var order in Model.Orders)
    {
    <tr>
        <td>
            @Html.DisplayFor(orderRecord => order.OrderId)
        </td>
        <td>
            @Html.DisplayFor(orderRecord => order.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(orderRecord => order.Total)
        </td>
        <td>
            @Html.ActionLink("Order Details", "OrderDetails", new { orderid = order.OrderId })
        </td>
    </tr>
    }

</table>

