﻿@model SuperShraga.Models.UserProfileViewModel
<h2>Order Details</h2>

<table class="table">
    <h3>
        Order ID: @Html.DisplayFor(model => model.OrderDetails.First().OrderId)
    </h3>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDetails.First().Item.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDetails.First().UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDetails.First().Quantity)
        </th>

        <th></th>
    </tr>

    @foreach (var d in Model.OrderDetails)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => d.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => d.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => d.Quantity)
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to profile", "Index")
</div>

