@model Tuple<IEnumerable<SuperShraga.Models.Order>, IEnumerable < dynamic >>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Insights</h2>

<div>
    <svg id="orders-over-time"></svg>
    <svg id="sales-by-category"></svg>
</div>

@section Scripts {
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script name="orders-over-time-script">
        {
        let data = [
                {
        name: "kav",
                values: @Html.Raw(Json.Serialize(Model.Item1.GroupBy(o => o.OrderDate.Date).Select(group => new { date = group.Key.ToString("yyyy/MM/dd"), price = group.Count() }).OrderBy(x => x.date)))
                //[
                //        { date: "2000", price: "100" },
                //        { date: "2001", price: "110" },
                //        { date: "2002", price: "145" },
                //        { date: "2003", price: "241" },
                //        { date: "2004", price: "101" },
                //        { date: "2005", price: "90" },
                //        { date: "2006", price: "10" },
                //        { date: "2007", price: "35" },
                //        { date: "2008", price: "21" },
                //        { date: "2009", price: "201" }
                //    ]
                }
            ];

        let width = 500;
        let height = 300;
        let margin = 50;
        let duration = 250;

        let lineOpacity = "0.25";
        let lineOpacityHover = "0.85";
        let otherLinesOpacityHover = "0.1";
        let lineStroke = "1.5px";
        let lineStrokeHover = "2.5px";

        let circleOpacity = '0.85';
        let circleOpacityOnLineHover = "0.25";
        let circleRadius = 3;
        let circleRadiusHover = 6;


        /* Format Data */
            let parseDate = d3.timeParse("%Y/%M/%d");
        data.forEach(function (d) {
            d.values.forEach(function (d) {
                d.date = parseDate(d.date);
                d.price = +d.price;
            });
        });


        /* Scale */
        let xScale = d3.scaleTime()
            .domain(d3.extent(data[0].values, d => d.date))
            .range([0, width - margin]);

        let yScale = d3.scaleLinear()
            .domain([0, d3.max(data[0].values, d => d.price)])
                .range([height - margin, 0]);

        let color = d3.scaleOrdinal(d3.schemeCategory10);

        /* Add SVG */
        let svg = d3.select("#orders-over-time")
            .attr("width", (width + margin) + "px")
            .attr("height", (height + margin) + "px")
            .append('g')
            .attr("transform", `translate(${margin}, ${margin})`);


        /* Add line into SVG */
        let line = d3.line()
            .x(d => xScale(d.date))
            .y(d => yScale(d.price));

        let lines = svg.append('g')
            .attr('class', 'lines');

        lines.selectAll('.line-group')
            .data(data).enter()
            .append('g')
            .attr('class', 'line-group')
            .on("mouseover",
                function (d, i) {
            svg.append("text")
                .attr("class", "title-text")
                .style("fill", color(i))
                .text(d.name)
                .attr("text-anchor", "middle")
                .attr("x", (width - margin) / 2)
                .attr("y", 5);
        })
                .on("mouseout",
                    function (d) {
            svg.select(".title-text").remove();
        })
                .append('path')
                .attr('class', 'line')
                .attr('d', d => line(d.values))
                .style('stroke', (d, i) => color(i))
                .style('opacity', lineOpacity)
                .on("mouseover",
                    function (d) {
            d3.selectAll('.line')
                .style('opacity', otherLinesOpacityHover);
            d3.selectAll('.circle')
                .style('opacity', circleOpacityOnLineHover);
            d3.select(this)
                .style('opacity', lineOpacityHover)
                .style("stroke-width", lineStrokeHover)
                .style("cursor", "pointer");
        })
                .on("mouseout",
                    function (d) {
            d3.selectAll(".line")
                .style('opacity', lineOpacity);
            d3.selectAll('.circle')
                .style('opacity', circleOpacity);
            d3.select(this)
                .style("stroke-width", lineStroke)
                .style("cursor", "none");
        });


        /* Add circles in the line */
        lines.selectAll("circle-group")
            .data(data).enter()
            .append("g")
            .style("fill", (d, i) => color(i))
            .selectAll("circle")
            .data(d => d.values).enter()
            .append("g")
            .attr("class", "circle")
            .on("mouseover",
                function (d) {
            d3.select(this)
                .style("cursor", "pointer")
                .append("text")
                .attr("class", "text")
                .text(`${d.price}`)
                            .attr("x", d => xScale(d.date) + 5)
                            .attr("y", d => yScale(d.price) - 10);
        })
                .on("mouseout",
                    function (d) {
            d3.select(this)
                .style("cursor", "none")
                .transition()
                .duration(duration)
                .selectAll(".text").remove();
        })
                .append("circle")
                .attr("cx", d => xScale(d.date))
                .attr("cy", d => yScale(d.price))
                .attr("r", circleRadius)
                .style('opacity', circleOpacity)
                .on("mouseover",
                    function (d) {
            d3.select(this)
                .transition()
                .duration(duration)
                .attr("r", circleRadiusHover);
        })
                .on("mouseout",
                    function (d) {
            d3.select(this)
                .transition()
                .duration(duration)
                .attr("r", circleRadius);
        });


        /* Add Axis into SVG */
        //let xAxis = d3.axisBottom(xScale).ticks(5);
        let xAxis = d3.axisBottom(xScale);
        let yAxis = d3.axisLeft(yScale).ticks(5);

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", `translate(0, ${height - margin})`)
                .call(xAxis);

        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append('text')
            .attr("y", 15)
            .attr("transform", "rotate(-90)")
            .attr("fill", "#000")
            .text("Orders");
    }
    </script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.1.3"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.geom.js?2.1.3"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.layout.js?2.1.3"></script>
    <script type="text/javascript">
        data = @Html.Raw(Json.Serialize(Model.Item2))

        //[{ "label": "one", "value": 20 },
        //    { "label": "two", "value": 50 },
        //    { "label": "three", "value": 30 }];

    var w = 300,                        //width
        h = 300,                            //height
        r = 100,                            //radius
        color = d3.scale.category20c();     //builtin range of colors

    var vis = d3.select("#sales-by-category")
        .data([data])                   //associate our data with the document
            .attr("width", w)           //set the width and height of our visualization (these will be attributes of the <svg> tag
            .attr("height", h)
            .append("svg:g")                //make a group to hold our pie chart
            .attr("transform", "translate(" + r + "," + r + ")")    //move the center of the pie chart from 0, 0 to radius, radius

        var arc = d3.svg.arc()              //this will create <path> elements for us using arc data
            .outerRadius(r);

    var pie = d3.layout.pie()           //this will create arc data for us given a list of values
        .value(function (d) { return d.value; });    //we must tell it out to access the value of each element in our data array

    var arcs = vis.selectAll("g.slice")     //this selects all <g> elements with class slice (there aren't any yet)
        .data(pie)                          //associate the generated pie data (an array of arcs, each having startAngle, endAngle and value properties)
        .enter()                            //this will create <g> elements for every "extra" data element that should be associated with a selection. The result is creating a <g> for every object in the data array
        .append("svg:g")                //create a group to hold each slice (we will have a <path> and a <text> element associated with each slice)
        .attr("class", "slice");    //allow us to style things in the slices (like text)

    arcs.append("svg:path")
        .attr("fill", function (d, i) { return color(i); }) //set the color for each slice to be chosen from the color function defined above
            .attr("d", arc);                                    //this creates the actual SVG path using the associated data (pie) with the arc drawing function

    arcs.append("svg:text")                                     //add a label to each slice
        .attr("transform", function (d) {                    //set the label's origin to the center of the arc
                                                             //we have to make sure to set these before calling arc.centroid
        d.innerRadius = 0;
        d.outerRadius = r;
        return "translate(" + arc.centroid(d) + ")";        //this gives us a pair of coordinates like [50, 50]
    })
            .attr("text-anchor", "middle")                          //center the text on it's origin
            .text(function (d, i) { return data[i].label; });        //get the label from our original data array

    </script>
}