@model SuperShraga.Models.OrderSearchViewModel

@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<form asp-action="Search">
    <div class="form-horizontal">
        <h4>OrderSearchViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="OrderDateMin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="date" asp-for="OrderDateMin" class="form-control" />
                <span asp-validation-for="OrderDateMin" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderDateMax" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="date" asp-for="OrderDateMax" class="form-control" />
                <span asp-validation-for="OrderDateMax" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Country" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TotalMin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TotalMin" class="form-control" />
                <span asp-validation-for="TotalMin" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
