﻿
@{
    ViewBag.Title = "Index";
}

<h2>Store Management</h2>

<table class="table">
    <tr>
        <th>
            <a href="@Url.Action("Index", "Branches")">Manage Branches</a>
        </th>
        <th>
            <a href="@Url.Action("Index", "Categories")">Manage Categories</a>
        </th>
        <th>
            <a href="@Url.Action("Index", "Items")">Manage Items</a>
        </th>
    </tr>
</table>
