﻿@model SuperShraga.Models.UserManagementViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<SuperShraga.Models.Identity.ApplicationUser> UserManager

@{
    ViewBag.Title = "UserManagement";
}

<h2>User Management</h2>

<table class="table">
    <h3>Admins</h3>
    <tr>
        <th>
            Email
        </th>

        <th></th>
    </tr>

    @foreach (var user in Model.admins)
    {
        <tr>
            <td>
                @Html.DisplayFor(u => user.Email)
            </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = user.Id }) |
                @Html.ActionLink("Unadmin", "Unadmin", new { id = user.Id })
            </td>
        </tr>
    }

</table>

<table class="table">
    <h3>Members</h3>
    <tr>
        <th>
            Email
        </th>

        <th></th>
    </tr>

    @foreach (var user in Model.members)
    {
        <tr>
            <td>
                @Html.DisplayFor(u => user.Email)
            </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = user.Id }) |
                @Html.ActionLink("Promote", "Promote", new { id = user.Id })
            </td>
        </tr>
    }

</table>
